$card-bg: #ceeafa;
$btn-bg: #d3dcf1;
$btn-liked-bg: #b2c8f8;

$comments-bg: #e8f2ff;
$delete-btn-bg: #fc9090;
$delete-btn-bg-hover: #dc5e5e;

$radius-sm: 3px;
$radius-md: 5px;
$radius-lg: 10px;

$space-xs: 8px;
$space-sm: 10px;
$space-md: 12px;